
#MAIN-BOX {
        background-color: pink;
        width: 600px;
        margin: 0px auto;
       
        padding: 0px 40px 10px 40px;
        border: 5px solid black;
}

#MAIN-BOX h1{
        font-size: 45px;
        text-shadow: 3px 3px 1px black;
        margin: 0 auto;
        color: white;
}
html {
        font-family: 'Montserrat', sans-serif;
        text-shadow: black;
}

img {
        display: block;
        margin: 0 auto;
}

